# See https://jasonstitt.com/gitignore-whitelisting-patterns for reference.

# Ignore everything...
*
# ... but allow directories to be searched
!*/

# Allow C# files under any folder(s), except bin, obj, and benchmark
!*/*.csproj
!**/*.cs
*/bin
*/obj
*/BenchmarkDotNet.Artifacts

# Allow icon
!RustyResults/icon.png

# Allow README, gitignore, LICENSE, and sln
!README.md
!.gitignore
!LICENSE
!*.sln